// DO NOT REMOVE!!
// This file used to add sass variables into components
// Note: To change theme, replace name in @use
@use '../theme/_theme.scss' as theme;

// Use sass:map to get values from $exported map
@use "sass:map";

// Map module-variables from theme file
$exported: module-variables(theme);

:export {
	bp01 : map.get($exported, 'bp-01');
	bp02 : map.get($exported, 'bp-02');
	bp03 : map.get($exported, 'bp-03');
	bp04 : map.get($exported, 'bp-04');
}