//// BREAKPOINTS
//// --------------------------------------------------------------------------
//// Note: set without unit

$bp-01: 541;
$bp-02: 768;
$bp-03: 992;
$bp-04: 1200;

//// SPACING
//// --------------------------------------------------------------------------

$spacing-x1: 5px;
$spacing-x2: 10px;
$spacing-x3: 15px;
$spacing-x4: 20px;
$spacing-x5: 25px;
$spacing-x6: 30px; 

//// COLORS
//// --------------------------------------------------------------------------

$color-01: #333333; // main
$color-02: #fdfdfd; // light text
$color-03: #6a5acd; // links
$color-04: #f1f169; // highlights
$color-05: #999999;
$color-06: '';
$color-07: '';
$color-08: '';
$color-09: '';
$color-10: '';

//// FONTS
//// --------------------------------------------------------------------------

$font-path: '../../../assets/dist/fonts/';
$font-family-01: 'Arial Narrow', Arial, san-serif;
$font-family-02: 'Garamond', 'Times New Roman', serif;
$font-weight: bold;
$font-style: italic;
$font-transform: '';
$font-size-global: 16px;
$font-size-base: 16px;	

//// ICONS
//// --------------------------------------------------------------------------

$icon-size: 16px;