// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// ARCHIVES
//// --------------------------------------------------------------------------

.comment-awaiting-moderation {
	display: block;
	font-size: 0.875em;
	line-height: 1.5;
}
