// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// EMBED
//// --------------------------------------------------------------------------

.wp-block-embed {
	&.aligncenter {}
	&.alignleft {}
	&.alignright {}
	.wp-block-embed__wrapper {
		figcaption {}
		iframe {}
	}
}

.wp-embed-responsive {
	.wp-block-embed {
		&.wp-has-aspect-ratio {
			.wp-block-embed__wrapper {
				position: relative;
				&:before {
					content: '';
					display: block;
					padding-top: 50%;
				}
				iframe {
					@include mixins.image-centered;
					@include mixins.sizing(100%, 100%);
				}
			}
		}
		&.wp-embed-aspect-21-9 .wp-block-embed__wrapper:before {
			padding-top: calc(9 / 21 * 100%);
		}	
		&.wp-embed-aspect-18-9 .wp-block-embed__wrapper:before {
			padding-top: calc(9 / 18 * 100%);
		}	
		&.wp-embed-aspect-16-9 .wp-block-embed__wrapper:before {
			padding-top: calc(9 / 16 * 100%);
		}
		&.wp-embed-aspect-4-3 .wp-block-embed__wrapper:before {
			padding-top: calc(3 / 4 * 100%);
		}	
		&.wp-embed-aspect-1-1 .wp-block-embed__wrapper:before {
			padding-top: 100%;
		}	
		&.wp-embed-aspect-9-16 .wp-block-embed__wrapper:before {
			padding-top: calc(16 / 9 * 100%);
		}	
		&.wp-embed-aspect-1-2 .wp-block-embed__wrapper:before {
			padding-top: calc(2 / 1 * 100%);
		}
	}
}