// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// FONT KITS
//// --------------------------------------------------------------------------

@font-face {
	font-family: 'Base Icons';
	src: url(theme.$font-path + 'base-icons.woff2') format('woff2'),
		 url(theme.$font-path + 'base-icons.woff') format('woff'),
		 url(theme.$font-path + 'base-icons.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

//// GENERAL TEXT ELEMENTS
//// --------------------------------------------------------------------------

html, body {
	font-family: theme.$font-family-01;
}

html {
	text-size-adjust: 100%;
	font-size: theme.$font-size-base;
	line-height: 1;
}

body {
	font-size: mixins.em(theme.$font-size-global, rem);
	line-height: 1.5;
	font-weight: normal;
}

b, strong, optgroup {
	font-weight: theme.$font-weight;
}

dfn, em, i {
	font-style: theme.$font-style;
}

a, abbr[title] {
	text-decoration: none;
}

mark {
	background: theme.$color-04;
}

small {
	font-size: 80%;
}

sub, sup {
	position: relative;
	vertical-align: baseline;
	font-size: 75%;
	line-height: 0;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

//// FONT COLORS
//// --------------------------------------------------------------------------

body, mark, select, select option, textarea {
	color: theme.$color-01;
}

a {
	color: theme.$color-03;
	background-color: transparent;
	transition: color 0.3s ease-in-out;
	&:active, &:hover {
		outline: 0;
		color: theme.$color-01;
	}
}

//// HEADERS
//// --------------------------------------------------------------------------

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h6, .h6 {
	font-family: theme.$font-family-02;
	color: theme.$color-01;
	a {
		color: inherit;
		&:hover {
			color: theme.$color-03;
		}
	}
}

h1, .h1 {
	font-size: mixins.em(34px, rem);
}

h2, .h2 {
	font-size: mixins.em(30px, rem);
}

h3, .h3 {
	font-size: mixins.em(26px, rem);
}

h4, .h4 {
	font-size: mixins.em(22px, rem);
}

h5, h6, .h5, .h6 {
	font-size: mixins.em(20px, rem);
}

//// CONTENT BLOCKS
//// --------------------------------------------------------------------------

code, kbd, pre, samp {
	background: theme.$color-01;
	padding: theme.$spacing-x4;
	font-family: 'Courier New', monospace;
	font-size: mixins.em(16px, rem);
	color: theme.$color-02;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	margin: 0;
}

blockquote {
	max-width: 90%;
	margin: 0 auto theme.$spacing-x4 auto;
}

//// ICONS
//// --------------------------------------------------------------------------

$icon-angle-left: \f104;
$icon-angle-right: \f105;
$icon-angle-up: \f106;
$icon-angle-down: \f107;
$icon-chevron-left: \f053;
$icon-chevron-right: \f054;
$icon-chevron-up: \f077;
$icon-chevron-down: \f078;
$icon-angle-double-left: \f100;
$icon-angle-double-right: \f101;
$icon-angle-double-up: \f102;
$icon-angle-double-down: \f103;
$icon-check-thin: \e900;
$icon-plus-thin: \e901;
$icon-minus-thin: \e902;
$icon-close-thin: \e903;
$icon-check: \f00c;
$icon-plus: \e904;
$icon-minus: \e905;
$icon-close: \f00d;
$icon-asterisk: \f069;
$icon-menu: \e906;
$icon-gear: \e907;
$icon-gears: \e908;
$icon-filter: \e909;
$icon-heart: \f004;
$icon-star: \f005;
$icon-pencil: \f040;
$icon-quill: \e907;
$icon-pen: \e908;
$icon-tv: \e95b;
$icon-video: \e913;
$icon-camera: \e914;
$icon-film: \f008;
$icon-book: \f02d;
$icon-books: \e920;
$icon-search: \f002;
$icon-home: \f015;
$icon-tag: \f02b;
$icon-calendar: \f073;
$icon-comment: \f075;
$icon-comments: \f086;
$icon-inbox: \f01c;
$icon-folder: \f07c;
$icon-envelope: \f0e0;
$icon-paper-plane: \f1d8;
$icon-monitor: \f26c;
$icon-pinterest: \f231;
$icon-digg: \f1a6;
$icon-reddit: \f281;
$icon-linkedin: \f0e1;
$icon-instagram: \f16d;
$icon-facebook: \f09a;
$icon-youtube: \f16a;
$icon-youtube-logo: \f167;
$icon-twitter: \f099;
$icon-stumbleupon: \f1a4;
$icon-librarything: \e90a;
$icon-tiktok: \e90b;
$icon-slack: \e90c;
$icon-medium: \e90d;
$icon-imdb: \e90e;
$icon-goodreads: \e90f;
$icon-discord: \e910;
$icon-yelp: \e911;
$icon-wikipedia: \e912;
$icon-vimeo: \e915;
$icon-twitch: \e916;
$icon-tumblr: \e917;
$icon-steam: \e918;
$icon-spotify: \e919;
$icon-skype: \e91a;
$icon-soundcloud: \e91b;
$icon-paypal: \e91c;
$icon-github: \e91d;
$icon-behance: \e91e;
$icon-apple: \e91f;
$icon-amazon: \e921;
$icon-wordpress: \e922;
$icon-bandcamp: \e923;
$icon-etsy: \e924;

.icon {
	display: inline-block;
	speak: never;
	font-family: 'Base Icons';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: mixins.em(theme.$font-size-base, rem);
	line-height: 1;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
	content: mixins.unicode($icon-angle-left);
}

.icon-angle-right:before {
	content: mixins.unicode($icon-angle-right);
}

.icon-angle-up:before {
	content: mixins.unicode($icon-angle-up);
}

.icon-angle-down:before {
	content: mixins.unicode($icon-angle-down);
}

.icon-chevron-left:before {
	content: mixins.unicode($icon-chevron-left);
}

.icon-chevron-right:before {
	content: mixins.unicode($icon-chevron-right);
}

.icon-chevron-up:before {
	content: mixins.unicode($icon-chevron-up);
}

.icon-chevron-down:before {
	content: mixins.unicode($icon-chevron-down);
}

.icon-angle-double-left:before {
	content: mixins.unicode($icon-angle-double-left);
}

.icon-angle-double-right:before {
	content: mixins.unicode($icon-angle-double-right);
}

.icon-angle-double-up:before {
	content: mixins.unicode($icon-angle-double-up);
}

.icon-angle-double-down:before {
	content: mixins.unicode($icon-angle-double-down);
}

.icon-check-thin:before {
	content: mixins.unicode($icon-check-thin);
}

.icon-plus-thin:before {
	content: mixins.unicode($icon-plus-thin);
}

.icon-minus-thin:before {
	content: mixins.unicode($icon-minus-thin);
}

.icon-close-thin:before {
	content: mixins.unicode($icon-close-thin);
}

.icon-check:before {
	content: mixins.unicode($icon-check);
}

.icon-plus:before {
	content: mixins.unicode($icon-plus);
}

.icon-minus:before {
	content: mixins.unicode($icon-minus);
}

.icon-close:before {
	content: mixins.unicode($icon-close);
}

.icon-asterisk:before {
	content: mixins.unicode($icon-asterisk);
}

.icon-menu:before {
	content: mixins.unicode($icon-menu);
}

.icon-gear:before {
	content: mixins.unicode($icon-gear);
}

.icon-gears:before {	
	content: mixins.unicode($icon-gears);
}

.icon-filter:before {
	content: mixins.unicode($icon-filter);
}

.icon-heart:before {
	content: mixins.unicode($icon-heart);
}

.icon-star:before {
	content: mixins.unicode($icon-star);
}

.icon-pencil:before {
	content: mixins.unicode($icon-pencil);
}

.icon-quill:before {
	content: mixins.unicode($icon-quill);
}

.icon-pen:before {
	content: mixins.unicode($icon-pen);
}

.icon-tv:before {
	content: mixins.unicode($icon-tv);
}

.icon-video:before {
	content: mixins.unicode($icon-video);
}

.icon-camera:before {
	content: mixins.unicode($icon-camera);
}

.icon-film:before {
	content: mixins.unicode($icon-film);
}

.icon-book:before {
	content: mixins.unicode($icon-book);
}

.icon-books:before {
	content: mixins.unicode($icon-books);
}

.icon-search:before {
	content: mixins.unicode($icon-search);
}

.icon-home:before {
	content: mixins.unicode($icon-home);
}

.icon-tag:before {
	content: mixins.unicode($icon-tag);
}

.icon-calendar:before {
	content: mixins.unicode($icon-calendar);
}

.icon-comment:before {
	content: mixins.unicode($icon-comment);
}

.icon-comments:before {
	content: mixins.unicode($icon-comments);
}

.icon-inbox:before {
	content: mixins.unicode($icon-inbox);
}

.icon-folder:before {
	content: mixins.unicode($icon-folder);
}

.icon-envelope:before {
	content: mixins.unicode($icon-envelope);
}

.icon-paper-plane:before {
	content: mixins.unicode($icon-paper-plane);
}

.icon-monitor:before {
	content: mixins.unicode($icon-monitor);
}

.icon-pinterest:before {
	content: mixins.unicode($icon-pinterest);
}

.icon-digg:before {
	content: mixins.unicode($icon-digg);
}

.icon-reddit:before {
	content: mixins.unicode($icon-reddit);
}

.icon-linkedin:before {
	content: mixins.unicode($icon-linkedin);
}

.icon-instagram:before {
	content: mixins.unicode($icon-instagram);
}

.icon-facebook:before {
	content: mixins.unicode($icon-facebook);
}

.icon-youtube:before {
	content: mixins.unicode($icon-youtube);
}

.icon-youtube-logo:before {
	content: mixins.unicode($icon-youtube-logo);
}

.icon-twitter:before {
	content: mixins.unicode($icon-twitter);
}

.icon-stumbleupon:before {
	content: mixins.unicode($icon-stumbleupon);
}

.icon-librarything:before {
	content: mixins.unicode($icon-librarything);
}

.icon-tiktok:before {
	content: mixins.unicode($icon-tiktok);
}

.icon-slack:before {
	content: mixins.unicode($icon-slack);
}

.icon-medium:before {
	content: mixins.unicode($icon-medium);
}

.icon-imdb:before {
	content: mixins.unicode($icon-imdb);
}

.icon-goodreads:before {
	content: mixins.unicode($icon-goodreads);
}

.icon-discord:before {
	content: mixins.unicode($icon-discord);
}

.icon-yelp:before {
	content: mixins.unicode($icon-yelp);
}

.icon-wikipedia:before {
	content: mixins.unicode($icon-wikipedia);
}

.icon-vimeo:before {
	content: mixins.unicode($icon-vimeo);
}

.icon-twitch:before {
	content: mixins.unicode($icon-twitch);
}

.icon-tumblr:before {
	content: mixins.unicode($icon-tumblr);
}

.icon-steam:before {
	content: mixins.unicode($icon-steam);
}

.icon-spotify:before {
	content: mixins.unicode($icon-spotify);
}

.icon-skype:before {
	content: mixins.unicode($icon-skype);
}

.icon-soundcloud:before {
	content: mixins.unicode($icon-soundcloud);
}

.icon-paypal:before {
	content: mixins.unicode($icon-paypal);
}

.icon-github:before {
	content: mixins.unicode($icon-github);
}

.icon-behance:before {
	content: mixins.unicode($icon-behance);
}

.icon-apple:before {
	content: mixins.unicode($icon-apple);
}

.icon-amazon:before {
	content: mixins.unicode($icon-amazon);
}

.icon-wordpress:before {
	content: mixins.unicode($icon-wordpress);
}

.icon-bandcamp:before {
	content: mixins.unicode($icon-bandcamp);
}

.icon-etsy:before {
	content: mixins.unicode($icon-etsy);
}
