// Use helpers and theme variables
@use '../helpers/_mixins';
@use '../theme/_theme';

//// BODY
//// --------------------------------------------------------------------------

body {
	background: theme.$color-05;
}